<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/actionanand/single-spa-demo-root-config/main/src/assets/favicon.ico">
  <title> <%= appTitle %> </title>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->

  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.4/dist/zone.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->

  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />

  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->

  <% if (!isLocal) { %>
  <script type="systemjs-importmap" 
    src="https://raw.githubusercontent.com/actionanand/json-server/main/db/json/single-spa-demo-root-config/importmap.json"
  ></script>
  <% } %>

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js",
        "rxjs": "https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.4.0/rxjs.umd.min.js"
      }
    }
  </script>
  
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
    <script type="systemjs-importmap" src="./local-importmap.json"></script>
  <% } %>

  <!-- <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@actionanand/root-config": "http://localhost:2022/actionanand-root-config.js",
        "@actionanand/single-spa-nav": "http://localhost:20221/actionanand-single-spa-nav.js",
        "single-spa-angular": "http://localhost:20222/main.js",
        "@actionanand/single-spa-react": "http://localhost:20223/actionanand-single-spa-react.js",
      }
    }
  </script>
  <% } %> -->

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <style>
    body, html { 
      margin: 0; 
      padding: 0; 
      font-size: 16px; 
      font-family: Arial, Helvetica, sans-serif;
      height: 100%; 
    }

    body { 
      display: flex; 
      flex-direction: column; 
    }

    * { 
      box-sizing: border-box; 
    }

    .spa-err-msg {
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
    }
    .spa-err-msg div {
      align-items: flex-start;
      height: 20px;
      color: #5C6B70;
      font-size: 18px;
      line-height: 18px;
    }
    .spa-err-msg div:first-child {
      text-decoration: underline;
    }
    .spa-err-msg div:last-child {
      font-size: 15px;
      margin-top: 10px;
    }

    .spa-loader-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 74vh;
    }
    .spa-loader {
      color: green;
      position: relative;
      display: inline-block;
      margin: 0 auto;
      margin-top: 4rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 48px;
      letter-spacing: 4px;
      box-sizing: border-box;
    }
    .spa-loader::before {
      content: '';  
      position: absolute;
      right: 70px;
      bottom: 10px;
      height: 28px;
      width: 5.15px;
      background: currentColor;
      box-sizing: border-box;
      animation: animloader1 1s linear infinite alternate;
    }
    .spa-loader::after {
      content: '';  
      width: 10px;
      height: 10px;
      position: absolute;
      left: 125px;
      top: 2px;
      border-radius: 50%;
      background: red;
      box-sizing: border-box;
      animation: animloader 1s linear infinite alternate;
    }

    @keyframes animloader {
      0% {
        transform: translate(0px, 0px) scaleX(1);
      }
      14% {
        transform: translate(-12px, -16px) scaleX(1.05);
      }
      28% {
        transform: translate(-27px, -28px) scaleX(1.07);
      }
      42% {
        transform: translate(-46px, -35px) scaleX(1.1);
      }
      57% {
        transform: translate(-70px, -37px) scaleX(1.1);
      }
      71% {
        transform: translate(-94px, -32px) scaleX(1.07);
      }
      85% {
        transform: translate(-111px, -22px) scaleX(1.05);
      }
      100% {
        transform: translate(-125px, -9px) scaleX(1);
      }
    }

    @keyframes animloader1 {
      0% {
        box-shadow: 0 -6px, -122.9px -8px;
      }
      25%, 75% {
        box-shadow: 0 0px, -122.9px -8px;
      }
      100% {
        box-shadow: 0 0px, -122.9px -16px;
      }
    }
  </style>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main></main>
  <script>
    System.import('@actionanand/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>